{% extends "base.html" %}
{% block title %}List Quizzes{% endblock %}
{% blockcontent %}
<h2>Quizzes</h2>
<ul>
    {% for quiz in quizzes %}
    <li>
        {{ quiz.title }}
        <a href="{{ url_for('quizzes.edit_quiz', quiz_id=quiz.id) }}">Edit</a>
        {{ quiz.description.as_paragraph() }}
        <!-- <for
        m method="POST" action="{{ url_for('quizzes.delete_quiz', quiz_id=quiz.id) }}" style="display:inline;">
            {{ form.hidden_tag() }}
            <button type="submit">Delete</button>
        </form> -->
    </li>
    {% endfor %}
</ul>
<a href="{{ url_for('quizzes.create_quiz') }}">Create New Quiz</a>
{% endblock %}
